<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Marvel Mixup</title>
</head>
<body>
    <h1>Welcome to the Marvel Syndicate Sqaud App</h1>
    <p>Create your own powerful lineup of superheros from the Marvel </p>
    <form action="">
        <h2>User Login</h2>
        <p>Please fill in form to create an account</p>
        <hr>

        <label for="username">Username:</label>
        <input type="text" placeholder="Enter username" name="username" required>

        <label for="username">email:</label>
        <input type="text" placeholder="Enter email" name="email" required>
       
        <label for="username">Password:</label>
        <input type="text" placeholder="Enter password" name="username" required>

        <button type="submit" class="registerbtn">Sign up</button>
    </form>
</body>
</html>